In [1]:
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv("stock_historical_data_nasdaq_new.csv", header=None)

c:\Users\hp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [88]:
df

,0,1,2,3,4,5,6,7,8,9,...,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044
0,NaN,ICLR,ICLR,ICLR,ICLR,ICLR,ICLR,LI,LI,LI,...,TSLA,TSLA,TSLA,TSLA,JBHT,JBHT,JBHT,JBHT,JBHT,JBHT
1,NaN,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,...,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
2,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-02 00:00:00,112.04000091552734,116.11000061035156,112.04000091552734,114.4800033569336,114.4800033569336,187400,NaN,NaN,NaN,...,20.733333587646484,21.368667602539062,21.368667602539062,65283000,115.95999908447266,116.88999938964844,114.73999786376953,116.08999633789062,110.8958740234375,863600
4,2018-01-03 00:00:00,114.48999786376953,114.94000244140625,113.66000366210938,114.0199966430664,114.0199966430664,379800,NaN,NaN,NaN,...,21.036666870117188,21.149999618530273,21.149999618530273,67822500,116.33000183105469,118.05000305175781,115.94999694824219,116.87000274658203,111.6409912109375,980200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,2022-12-23 00:00:00,193.869995,196.389999,192.899994,194.850006,194.850006,315300,20.370001,20.370001,18.540001,...,121.019997,123.150002,123.150002,166989700,176.610001,177.759995,175.080002,177.360001,176.983261,371800
1258,2022-12-27 00:00:00,194.850006,195.320007,191.669998,193.240005,193.240005,219500,18.360001,18.719999,18.02,...,108.760002,109.099998,109.099998,208643400,177.850006,178.960007,175.050003,178.220001,177.841446,354400
1259,2022-12-28 00:00:00,192.350006,197.580002,192.350006,193.279999,193.279999,256200,18.9,19.242001,17.895,...,108.239998,112.709999,112.709999,221070500,178.389999,179.279999,174.350006,174.460007,174.089432,240200
1260,2022-12-29 00:00:00,195.300003,200.350006,195.300003,198.470001,198.470001,235900,19.25,19.740999,18.950001,...,117.5,121.82,121.82,221923300,175.119995,178.610001,174.779999,176.770004,176.394516,362400
1261,2022-12-30 00:00:00,196.520004,198.210007,190.770004,194.25,194.25,378200,19.49,20.450001,19.440001,...,119.75,123.18,123.18,157777300,175.850006,176.270004,172.050003,174.360001,173.989639,459000

In [89]:
df_new = pd.DataFrame()

In [90]:
x = df.iloc[3:1262, 1:7]
y = df.iloc[3:1262, 0]
x = x.set_axis([1, 2, 3, 4, 5, 6], axis=1)
z = pd.concat([y, x], axis=1)
df_new = df_new.append(z, ignore_index=True)
df_new

,0,1,2,3,4,5,6
0,2018-01-02 00:00:00,112.04000091552734,116.11000061035156,112.04000091552734,114.4800033569336,114.4800033569336,187400
1,2018-01-03 00:00:00,114.48999786376953,114.94000244140625,113.66000366210938,114.0199966430664,114.0199966430664,379800
2,2018-01-04 00:00:00,114.33999633789062,114.73999786376953,112.6500015258789,113.91000366210938,113.91000366210938,422700
3,2018-01-05 00:00:00,114.22000122070312,117.9800033569336,113.62999725341797,117.62000274658203,117.62000274658203,299000
4,2018-01-08 00:00:00,117.66999816894531,117.98999786376953,115.68000030517578,117.37000274658203,117.37000274658203,277000
...,...,...,...,...,...,...,...
1254,2022-12-23 00:00:00,193.869995,196.389999,192.899994,194.850006,194.850006,315300
1255,2022-12-27 00:00:00,194.850006,195.320007,191.669998,193.240005,193.240005,219500
1256,2022-12-28 00:00:00,192.350006,197.580002,192.350006,193.279999,193.279999,256200
1257,2022-12-29 00:00:00,195.300003,200.350006,195.300003,198.470001,198.470001,235900
1258,2022-12-30 00:00:00,196.520004,198.210007,190.770004,194.25,194.25,378200

In [91]:
count = 1261
rows = 1259
for i in range(7, 1045, 6):
    x = df.iloc[3:1262, i:i+6]
    x = x.set_axis([1, 2, 3, 4, 5, 6], axis=1)
    y = df.iloc[3:1262, 0]
    z = pd.concat([y, x], axis=1)
    df_new = df_new.append(z, ignore_index=True)
    print((i-1)/6)

1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0
31.0
32.0
33.0
34.0
35.0
36.0
37.0
38.0
39.0
40.0
41.0
42.0
43.0
44.0
45.0
46.0
47.0
48.0
49.0
50.0
51.0
52.0
53.0
54.0
55.0
56.0
57.0
58.0
59.0
60.0
61.0
62.0
63.0
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
89.0
90.0
91.0
92.0
93.0
94.0
95.0
96.0
97.0
98.0
99.0
100.0
101.0
102.0
103.0
104.0
105.0
106.0
107.0
108.0
109.0
110.0
111.0
112.0
113.0
114.0
115.0
116.0
117.0
118.0
119.0
120.0
121.0
122.0
123.0
124.0
125.0
126.0
127.0
128.0
129.0
130.0
131.0
132.0
133.0
134.0
135.0
136.0
137.0
138.0
139.0
140.0
141.0
142.0
143.0
144.0
145.0
146.0
147.0
148.0
149.0
150.0
151.0
152.0
153.0
154.0
155.0
156.0
157.0
158.0
159.0
160.0
161.0
162.0
163.0
164.0
165.0
166.0
167.0
168.0
169.0
170.0
171.0
172.0
173.0

In [92]:
df_new

,0,1,2,3,4,5,6
0,2018-01-02 00:00:00,112.04000091552734,116.11000061035156,112.04000091552734,114.4800033569336,114.4800033569336,187400
1,2018-01-03 00:00:00,114.48999786376953,114.94000244140625,113.66000366210938,114.0199966430664,114.0199966430664,379800
2,2018-01-04 00:00:00,114.33999633789062,114.73999786376953,112.6500015258789,113.91000366210938,113.91000366210938,422700
3,2018-01-05 00:00:00,114.22000122070312,117.9800033569336,113.62999725341797,117.62000274658203,117.62000274658203,299000
4,2018-01-08 00:00:00,117.66999816894531,117.98999786376953,115.68000030517578,117.37000274658203,117.37000274658203,277000
...,...,...,...,...,...,...,...
219061,2022-12-23 00:00:00,176.610001,177.759995,175.080002,177.360001,176.983261,371800
219062,2022-12-27 00:00:00,177.850006,178.960007,175.050003,178.220001,177.841446,354400
219063,2022-12-28 00:00:00,178.389999,179.279999,174.350006,174.460007,174.089432,240200
219064,2022-12-29 00:00:00,175.119995,178.610001,174.779999,176.770004,176.394516,362400
219065,2022-12-30 00:00:00,175.850006,176.270004,172.050003,174.360001,173.989639,459000

In [98]:
j = 1
arr = []
for i in range(0, 219066, 1259):
    for i in range(0, 1259):
        arr.append(col[j])
    j = j+6
arr

['ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 'ICLR',
 ...]

In [99]:
names = pd.DataFrame(arr, columns=[7])
names

           7
0       ICLR
1       ICLR
2       ICLR
3       ICLR
4       ICLR
...      ...
219061  JBHT
219062  JBHT
219063  JBHT
219064  JBHT
219065  JBHT

[219066 rows x 1 columns]

In [103]:
df_new[7] = names

In [106]:
df_new

,0,1,2,3,4,5,6,7
0,2018-01-02 00:00:00,112.04000091552734,116.11000061035156,112.04000091552734,114.4800033569336,114.4800033569336,187400,ICLR
1,2018-01-03 00:00:00,114.48999786376953,114.94000244140625,113.66000366210938,114.0199966430664,114.0199966430664,379800,ICLR
2,2018-01-04 00:00:00,114.33999633789062,114.73999786376953,112.6500015258789,113.91000366210938,113.91000366210938,422700,ICLR
3,2018-01-05 00:00:00,114.22000122070312,117.9800033569336,113.62999725341797,117.62000274658203,117.62000274658203,299000,ICLR
4,2018-01-08 00:00:00,117.66999816894531,117.98999786376953,115.68000030517578,117.37000274658203,117.37000274658203,277000,ICLR
...,...,...,...,...,...,...,...,...
219061,2022-12-23 00:00:00,176.610001,177.759995,175.080002,177.360001,176.983261,371800,JBHT
219062,2022-12-27 00:00:00,177.850006,178.960007,175.050003,178.220001,177.841446,354400,JBHT
219063,2022-12-28 00:00:00,178.389999,179.279999,174.350006,174.460007,174.089432,240200,JBHT
219064,2022-12-29 00:00:00,175.119995,178.610001,174.779999,176.770004,176.394516,362400,JBHT
219065,2022-12-30 00:00:00,175.850006,176.270004,172.050003,174.360001,173.989639,459000,JBHT

In [112]:
df_new = df_new.dropna()

In [113]:
df_new.tail()

,0,1,2,3,4,5,6,7
219061,2022-12-23 00:00:00,176.610001,177.759995,175.080002,177.360001,176.983261,371800,JBHT
219062,2022-12-27 00:00:00,177.850006,178.960007,175.050003,178.220001,177.841446,354400,JBHT
219063,2022-12-28 00:00:00,178.389999,179.279999,174.350006,174.460007,174.089432,240200,JBHT
219064,2022-12-29 00:00:00,175.119995,178.610001,174.779999,176.770004,176.394516,362400,JBHT
219065,2022-12-30 00:00:00,175.850006,176.270004,172.050003,174.360001,173.989639,459000,JBHT

In [109]:
df_new.to_csv('stock_data.csv')

nan
nan

In [93]:
col = df.iloc[0]
col = col.values
col

array([nan, 'ICLR', 'ICLR', ..., 'JBHT', 'JBHT', 'JBHT'], dtype=object)

In [95]:
df_new

,0,1,2,3,4,5,6
0,2018-01-02 00:00:00,112.04000091552734,116.11000061035156,112.04000091552734,114.4800033569336,114.4800033569336,187400
1,2018-01-03 00:00:00,114.48999786376953,114.94000244140625,113.66000366210938,114.0199966430664,114.0199966430664,379800
2,2018-01-04 00:00:00,114.33999633789062,114.73999786376953,112.6500015258789,113.91000366210938,113.91000366210938,422700
3,2018-01-05 00:00:00,114.22000122070312,117.9800033569336,113.62999725341797,117.62000274658203,117.62000274658203,299000
4,2018-01-08 00:00:00,117.66999816894531,117.98999786376953,115.68000030517578,117.37000274658203,117.37000274658203,277000
...,...,...,...,...,...,...,...
219061,2022-12-23 00:00:00,176.610001,177.759995,175.080002,177.360001,176.983261,371800
219062,2022-12-27 00:00:00,177.850006,178.960007,175.050003,178.220001,177.841446,354400
219063,2022-12-28 00:00:00,178.389999,179.279999,174.350006,174.460007,174.089432,240200
219064,2022-12-29 00:00:00,175.119995,178.610001,174.779999,176.770004,176.394516,362400
219065,2022-12-30 00:00:00,175.850006,176.270004,172.050003,174.360001,173.989639,459000

In [29]:
drop_c = col[8:]
drop_c

Index(['LI.1', 'LI.2', 'LI.3', 'LI.4', 'LI.5', 'AVGO', 'AVGO.1', 'AVGO.2',
       'AVGO.3', 'AVGO.4',
       ...
       'TSLA.3', 'TSLA.4', 'TSLA.5', 'JBHT', 'JBHT.1', 'JBHT.2', 'JBHT.3',
       'JBHT.4', 'JBHT.5', 'Unnamed:0'],
      dtype='object', length=1038)

In [30]:
df = df.drop(drop_c, axis=1)
df

,Unnamed: 0,ICLR,ICLR.1,ICLR.2,ICLR.3,ICLR.4,ICLR.5,LI
0,NaN,Open,High,Low,Close,Adj Close,Volume,Open
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-02 00:00:00,112.04000091552734,116.11000061035156,112.04000091552734,114.4800033569336,114.4800033569336,187400,ICLR
3,2018-01-03 00:00:00,114.48999786376953,114.94000244140625,113.66000366210938,114.0199966430664,114.0199966430664,379800,ICLR
4,2018-01-04 00:00:00,114.33999633789062,114.73999786376953,112.6500015258789,113.91000366210938,113.91000366210938,422700,ICLR
...,...,...,...,...,...,...,...,...
219063,NaN,176.610001,177.759995,175.080002,177.360001,176.983261,371800,JBHT
219064,NaN,177.850006,178.960007,175.050003,178.220001,177.841446,354400,JBHT
219065,NaN,178.389999,179.279999,174.350006,174.460007,174.089432,240200,JBHT
219066,NaN,175.119995,178.610001,174.779999,176.770004,176.394516,362400,JBHT
219067,NaN,175.850006,176.270004,172.050003,174.360001,173.989639,459000,JBHT

In [31]:
df = df.drop([1], axis=0)
df

,Unnamed: 0,ICLR,ICLR.1,ICLR.2,ICLR.3,ICLR.4,ICLR.5,LI
0,NaN,Open,High,Low,Close,Adj Close,Volume,Open
2,2018-01-02 00:00:00,112.04000091552734,116.11000061035156,112.04000091552734,114.4800033569336,114.4800033569336,187400,ICLR
3,2018-01-03 00:00:00,114.48999786376953,114.94000244140625,113.66000366210938,114.0199966430664,114.0199966430664,379800,ICLR
4,2018-01-04 00:00:00,114.33999633789062,114.73999786376953,112.6500015258789,113.91000366210938,113.91000366210938,422700,ICLR
5,2018-01-05 00:00:00,114.22000122070312,117.9800033569336,113.62999725341797,117.62000274658203,117.62000274658203,299000,ICLR
...,...,...,...,...,...,...,...,...
219063,NaN,176.610001,177.759995,175.080002,177.360001,176.983261,371800,JBHT
219064,NaN,177.850006,178.960007,175.050003,178.220001,177.841446,354400,JBHT
219065,NaN,178.389999,179.279999,174.350006,174.460007,174.089432,240200,JBHT
219066,NaN,175.119995,178.610001,174.779999,176.770004,176.394516,362400,JBHT
219067,NaN,175.850006,176.270004,172.050003,174.360001,173.989639,459000,JBHT